<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Srikar Yadav</title>
	<!-- linking the css file with html -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    
</head>
<body>
	<div class="navigationbar">
    <header>
        <!-- creating unorderlist navigation bar -->
            <ul>
			<!-- li tags and creating links # is used when u dont want to redirect -->
                <li class="active"><a href='index.html'>About</a></li>
                <li><a href='Qualifications.html'>Qualifications</a></li>
                <li>
					<a href='Projects.html'>Projects</a>
					
				</li>
                <li><a href='contactme.html'>Contact Me</a></li>
            </ul>
    </header>
    </div>

    <div id="container">
        <div class="helloimage">
            <img src="home-header.jpg" alt="photoandhello" width="100%" height="50%">
            <div class="middle-right">
                <h1>Hello, I'm Srikar Yadav.</h1>
            </div>
        </div>
        <div class="bodybackground">
            <img src="aboutpage.jpg" alt="aboutbackround" width="100%">
            <div id="about">
                <h1>Career Objective</h1>
                <br>
                <h4>Looking for a challenging role in a reputable organization to utilize my technical, database and management skills for the growth of the organization as well as to enhance my knowledge about new and energing trends in the IT sector.</h4>
                <br>
            
                <h1>Strength</h1>
                <br>
                <ol>
                    <li>Creativity</li>  
                    <li>Discipline</li> 
                    <li>Patience</li> 
                    <li>Dedication</li> 
                </ol>
                
                <br>
                <h1>Hobbies</h1>
                <br>
                <ul>
                    
                    <li>Android phones repair</li> 
                    <li>Playing Online Games</li> 
                    <li>Crafting</li>   
                </ul>
                <br>
                <h1>Place</h1>
                <br>
                <ul>
                    <li >Malkajgiri</li>  
                </ul>
                    
                  

            </div>
        </div>
    </div>
    
    
</body>
</html>